<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Book</title>
  </head>
  <body>
    <form action="/book/createBook" method="post">
      <div>
        <label for="bookName">Book Name:</label>
        <input type="text" name="bookName" id="bookName" />
      </div>
      <div>
        <label for="author">author:</label>
        <input type="text" name="author" id="author" />
      </div>
      <div>
        <label for="publishDate">date published:</label>
        <input type="number" name="publishDate" id="publishDate" />
      </div>
      <div>
        <label for="quote">quote:</label>
        <input type="text" name="quote" id="quote" />
      </div>
      <div>
        <label for="description">description:</label>
        <input type="text" name="description" id="description" />
      </div>
      <div>
        <label for="amazonLink">Amazon Link:</label>
        <input type="text" name="amazonLink" id="amazonLink" />
      </div>

      <input type="submit" />
    </form>
  </body>
</html>
